.experience {
  padding: 15px;
  padding-bottom: 25px;
}
.experience .experience-header img {
  width: 35px;
  margin-right: 10px;
}
.experience .experience-header h1 {
  font-weight: bolder;
  font-size: 35px;
}
.experience .experience-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertcal-timeline {
  height: 650px;
  width: 0;
  border: 4px solid black;
  margin-left: 50px;
  position: relative;
}
.vertcal-timeline .box {
  position: absolute;
  top: 20px;
  left: -18px;
  border: 1px solid black;
  background-color: rgb(249, 192, 86);
  z-index: 10;
  border-radius: 50%;
  padding: 5px;
  padding-bottom: 3px;
}
.vertcal-timeline img {
  width: 25px;
}
.experince-box {
  width: 60vw;
  min-width: 350px;
  background-color: rgb(249, 192, 86);

  position: absolute;
  left: 50px;
  border-radius: 10px;
  padding: 5px;
}
