.footer {
  display: flex;
  justify-content: space-around;
}
.footerr {
  background-color: rgb(2, 2, 67);
  padding: 10px;
}
.footer .left {
  width: 50%;
  color: white;
}
.footer .right {
  width: 30%;
  color: white;
}
.footer .right > div {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.footer .right img {
  width: 20px;
}
.footer .right > div > span {
  margin-left: 20px;
}
