.projects {
  background-color: #00004d;
  padding: 15px;
}
.projects .projects-header img {
  width: 35px;
  margin-right: 10px;
}
.projects .projects-header h1 {
  font-weight: bolder;
  font-size: 35px;
}
.projects .projects-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}
.projects-content .tiles {
  height: 250px;
  width: 300px;

  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: 0.5s;
}
.projects-content .tiles h2 {
  background-color: rgb(235, 235, 22);
  color: black;
  margin: 0;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-align: center;
}

.projects-content .tiles {
  position: relative;
}
.projects-content .tiles button {
  height: 30px;
  position: absolute;
  bottom: 10px;
  cursor: pointer;

  width: 100px;
}
